<header class="header">
  <h3 class="header__logo">
    <a href="#" class="header__logo-link">CONCEPT</a>
  </h3>
  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__list-item">
        <a href="#" class="navigation__list-link">HOME</a>
      </li>
      <li class="navigation__list-item">
        <a href="#" class="navigation__list-link">CATALOG</a>
      </li>
      <li class="navigation__list-item">
        <a href="#" class="navigation__list-link">CONTACTS</a>
      </li>
    </ul>
  </nav>
  <ul class="user-list">
    <li class="user-list__item">
      <button class="search-button"><i class="bi bi-search"></i></button>
    </li>
    <li class="user-list__item">
      <a href="#" class="cart"><i class="bi bi-bag"></i></a>
    </li>
    <li class="user-list__item">
      <a href="#" class="account"><i class="bi bi-person"></i></a>
    </li>
  </ul>
</header>
