@import "../../core/styles/variables.scss";

.header {
  width: 100%;
  background-color: $backgroundDark;
  color: $fontDark;

  &__wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 30%;
      font-family: $fontTitle;
      font-size: 24px;
      font-weight: 500;
    }

    .menu {
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: $fontGeneral;

      .navigation {
        position: relative;
        left: 0;
        width: 55%;
        font-size: 16px;
        transition: all 0.3s linear;

        &__list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;

          &-item {
            vertical-align: middle;
            transition: 0.3s;

            &:hover {
              text-shadow: 1px 1px 3px $fontLight;
            }
          }
        }

        &-shift {
          position: relative;
          left: -80px;
          width: 50%;
        }
      }

      .user-list {
        width: 45%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
        font-size: 24px;

        &__item {
          position: relative;
          display: flex;
          align-items: center;
          height: 40px;

          .search-input {
            position: absolute;
            right: 24px;
            top: 0;
            bottom: 0;
            width: 0;
            padding: 9px 0px;
            border: none;
            background-color: $grayLight;
            font-size: 16px;
            border-radius: 5px;
            transition: all 0.3s linear;

            &:focus {
              background-color: $whiteSoft;
            }

            &-open {
              right: 24px;
              width: 250px;
              padding: 9px 7px;
              border: 1px solid $fontLight;
            }
          }

          .search-button {
            position: absolute;
            right: 31px;
            height: 24px;
            cursor: pointer;
            z-index: 1;
            opacity: 1;
          }

          .input-button-open {
            position: relative;
            height: 24px;
            cursor: pointer;
            z-index: 5;
            transition: transform 0.5s ease-in-out;
          }

          .input-button-close {
            transform: rotate(90deg);
          }

          .input-button-open,
          .input-button-close,
          .search-button {
            &:hover .material-icons-outlined {
              text-shadow: 1px 1px 3px $fontLight;
            }
          }

          .cart,
          .account {
            display: inline-block;
            height: 24px;

            &:hover .material-icons-outlined {
              text-shadow: 1px 1px 3px $fontLight;
            }
          }

          .material-icons-outlined {
            opacity: 0.65;
            transition: 0.3s;
          }
        }
      }
    }
  }
}
