/* background */
$backgroundLight: #dec48b;
$backgroundDark: #b2b09c;
$grayLight: #f2f2f2;
$whiteSoft: #fbfbfb;

/* fonts */
$fontLight: #7f8071;
$fontDark: #000000;
$fontTitle: "Urbanist";
$fontGeneral: "Sen";